body {
    font-family: Arial,Helvetica,sans-serif; font-size: 10px;
}

.head > .btn-warning {
    width: 20px; height: 20px;
    padding: 10px;
    border: none; 
    margin-bottom: 10px;
}

.navbar-brand {
    padding: 0px; margin-left: 0px;
}

.name {
    font-size: 20px; text-decoration: none;  color: black;
    margin: 10px; font-weight: bold; 
}

span {
    font-size: 15px; 
}

.d-block {
    border-radius: 50%;
}

.btn-warning , .btn-danger , .btn-info  {
    border-radius: 50%; 
    height: 150px; width: 150px;
    color:black;
    border-color: #6c757d;  
}

ul {
    list-style:none;
  }
  
.link {
    text-decoration: none; color: black;
  }

  ul li {
    display:inline-block; 
    position:relative; 
    color: black; font-size: 13px; 
    padding-top: 1.7rem; padding-bottom: 0.5rem; padding-right: 2rem; padding-left: 0.5rem;
  }
  ul li:not(:last-child)::after{
    content:""; 
    border:1px solid black;
    position:absolute; 
    right:0.8rem; 
    top: 40%; 
    height:50%;
  }

  .column {
    float: left;  width: 25%;
  }
  
  .row:after {
    content: ""; display: table; 
    clear: both;
  }

  .paragraph {
    padding-left: 85px; padding-right: 30px;
    margin-left: 25px;
    font-size: 16px;
  }