.container {
    width: 200vh;
    display: inline-block;

}
.container > input {
    padding: 2px;
    margin: 1px;
    display: inline;
}

button {
    background-color: black;
    color: beige;
    padding: 5px; margin-top: 2px;
}
